@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  padding: 0;
  margin: 0;
}
:root {
  --bg-color: steelblue;
  --bg-form: rgba(0, 0, 0, 0.4);
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Muli", sans-serif;
  background-color: var(--bg-color);
}
#container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-form);
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.headding-text {
  color: #fafafa;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}
.form-group {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  width: 300px;
}

.form-group input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fafafa;
  width: 100%;
  margin-top: 30px;
  padding: 8px 0;
  color: #fafafa;
  font-size: 1rem;
}
.form-group label {
  color: #fafafa;
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 1rem;
  font-weight: 500;
}
.form-group label span {
  display: inline-block;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn {
  background-color: lightblue;
  border: none;
  border-radius: 2px;
  padding: 16px 32px;
  width: 100%;
  margin-bottom: 30px;
  transition: opacity 0.1s linear;
  font-size: 1rem;
}
.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.form-group input:focus {
  outline: none;
  border-bottom-color: lightblue;
}

.form-group input:focus + label span,
.form-group input:valid + label span {
  color: lightblue;
  transform: translateY(-40px);
}
.btn:active {
  transform: scale(0.98);
}
p {
  color: #fafafa;
  margin: 10px;
}
a {
  text-decoration: none;
  color: var(--bg-color);
}
