* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}
.container {
  margin: auto;
}
.search {
  display: flex;
  height: 40px;
  position: relative;
}
.search .input {
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  transition: width 0.3s ease-in;
}
.btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.btn i {
  line-height: 40px;
  font-size: 1.2rem;
}
.search.active .btn {
}
.search.active .input {
  padding: 0;
  width: 0;
}
